.DS_Store
**/target/
.vscode
**/.classpath
**/.factorypath
**/**/.classpath
**/**/.factorypath
.idea
.vscode
*.iws
*.iml
*.ipr
**/npm-debug.log
**/node_modules/
**/patrimonio-intangivel-app/app
**/patrimonio-intangivel-app/.vscode/
**/patrimonio-intangivel-app/.tmp/
**/patrimonio-intangivel-app/jest_0/
.attach_pid*
.project
.settings/
.docker-portainer.yml
.docker-database.yml
.oracle/

variables.env
